* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {

    height: 100vh;
    width: 100vw;
    background: #000000;
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 26.5px;

}

h1 {

    font-size: 30px;
    color: #ffffff;
}

.link-menu {

    text-decoration: none;
    color: #ffffff;
}

li {

    color: #ffffff;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 700;
}

li:hover {

    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.8;
}

li:active {

    opacity: 0.3;
}

.projetos {

    margin: 5% 0;
}

.div-son {

    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    top: 25%;
    left: 30px;
    color: #ffffff;
}

h2 {

    font-size: 55px;
    padding-bottom: 50px;
    color: #ffffff;
}

img {

    height: 50px;
}

img:hover {

    transform:scale(1.1);
    transition: 0.5s;
}

li:hover {

    transform:scale(1.1);
    transition: 0.5s;
}

.fale-conosco {

    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    position: relative;
    top: 10%;
    left: 25%;
    width: 50%;
    font-size: 25px;
}

input {

    height: 50px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 10px;
    outline-color: #c5111160;
    font-size: 15px;
}

textarea {

    height: 150px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #808080;
    outline-color: #c5111160;
    padding: 10px;
    font-size: 15px;
}

.button-form {

    height: 40px;
    width: 100%;
    background: #c51111;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 400;
}

button:hover {

    transform: none;
    transition: 0.5s;
    opacity: 0.9;
}

button:active {

    opacity: 0.6;
}