* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    background: #2a408b;
    background-image: url(./assets/fundo-3.jpeg);
    background-repeat: no-repeat;
    background-position: bottom -50px right -20px;
}


nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: #26186db7;
    height: 100px;
    width: 100.3%;

}

nav h1 {

    font-size: 35px;
    color: white;
}

nav h1 span {

    color: #149ff0;
}

.link-menu {

    text-decoration: none;
    color: #ffffff;
}

nav li {

    color: #ffffff;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;

}

.link-menu:hover {

    color: rgb(20, 159, 240);
    transition: 0.5s;
}

.link-menu:active {

    opacity: 0.3;
}


.div-name {

    color: #ffffff;
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
}

.div-name h2 {

    font-size: 65px;
    background: #26186d83;
    width: 545px;
    height: 95px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 5px;
}

.div-name h2 span {

    color: rgb(87, 184, 240);
}

.div-name h3 {

    font-size: 30px;
    margin-top: -18px;
    margin-left: 15px;
}

.div-name h3 span {

    color: rgb(87, 184, 240);
}

.div-name h4 {

    font-size: 33px;
    margin: -70px 0;
}

.div-name h4 span {

    color: rgb(87, 184, 240);
}

.skill {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 5%;
    background: #26186d83;
    width: 550px;
    border-radius: 5px;
}

.skill .h4 {

    font-size: 30px;
    color: #ffffff;
    margin-left: -100px;
}

.skill .js {

    height: 75px;
}

.skill .css {

    height: 60px;
}

.skill .html {

    height: 50px;
}

footer {

    background-color: #2a408b;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -250px;
    right: 0px;
    left: 0px;
    width: 101.5%;
    border: 1px solid #569aff3f;
}

footer h5 {

    color: #ffffff;
    font-size: 35px;
}

footer p {

    color: #ffffff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sociais {

    display: flex;
    gap: 20px;
}

.sociais img {

    height: 35px;
    border-radius: 50%;

}

.sociais a {

    background-color: #002850;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.sociais a:hover {

    background-color: transparent;
    border: 1px solid rgb(20, 159, 240);
    transform: scale(1.2);
    transition: 0.5s;
}

.sociais a:active {

    background-color: rgb(20, 159, 240);
}