* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}

body {

    height: 100vh;
    width: 100vw;
    background-color: #191919;
    background-image: url(./assets/background-blue.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110%;

}


nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 100px;

}

nav h1 {

    font-size: 35px;
    color: white;
}

nav h1 span {

    color: rgb(20, 159, 240);
}

.link-menu {

    text-decoration: none;
    color: #ffffff;
}

nav li {

    color: #ffffff;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;

}

.link-menu:hover {

    color: rgb(20, 159, 240);
    transition: 0.5s;
}

.link-menu:active {

    opacity: 0.3;
}


.div-name {


    color: #ffffff;
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;

}

.div-name h2 {

    font-size: 65px;
}

.div-name h2 span {

    color: rgb(20, 159, 240);
}

.div-name h3 {

    font-size: 27px;
}

.div-name h3 span {

    color: rgb(20, 159, 240);
}


.div-sobre {

    background: #0b001f;
    height: 420px;
    display: flex;
    position: absolute;
    margin-top: 52%;
    padding-left: 40px;

}

.div-sobre img {

    height: 400px;
    border-radius: 154px
}


.div-sobre div h3 {

    color: #ffffff;
    padding: 38px 0 15px 40px;
    margin-top: 80px;
    font-size: 45px;
}

.div-sobre div p {

    color: #c0dbff;
    font-size: 20px;
    padding: 15px 20px 35px 38px
}

.div-sobre div a {

    background-color: rgb(20, 159, 240);
    color: #ffffff;
    font-size: 13px;
    padding: 10px 10px;
    border-radius: 25px;
    margin-left: 40px;
    cursor: pointer;

}

.div-sobre a:hover {

    background-color: #0b001f;
    border: 1px solid rgb(20, 159, 240);
    transition: 0.5s;
}

.div-sobre a:active {

    background-color: rgb(20, 159, 240);
}

.projetos {

    background-color: #191919;
    margin: 87% 0 50px;

}

.projetos h2 {

    color: #ffffff;
    font-size: 60px;
    text-align: center;
}

.card-projetos {

    display: flex;
    justify-content: space-around;

}

.card {

    background-color: #0b001f;
    height: 338px;
    width: 275px;
    text-align: center;
    border: 0.8px solid rgb(20, 159, 240);
    border-radius: 20px;
    margin-top: 100px;

}


.card img {

    height: 145px;
    margin-top: 8px;

}

.card .money {

    height: 145px;
    margin-bottom: 13px;
}

.card .page-location {

    height: 125px;
    margin-top: 12px;
    margin-bottom: 31px;

}

.card .we-care {

    height: 125px;
    margin-top: 12px;
    margin-bottom: 31px;
}

.card .easy-shopping {

    height: 150px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.card h4 {

    color: #ffffff;
    font-size: 20px;
    margin-top: -30px;
    padding-bottom: 12px;

}

.card p {

    color: rgb(207, 238, 255);
    font-size: 14px;
    padding: 0 12px 30px;
}

.card a {

    background-color: rgb(20, 159, 240);
    color: #ffffff;
    height: 31px;
    width: 100px;
    padding: 7px 12px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    margin-top: 22px;
    cursor: pointer;
    text-decoration: none;


}

.card a:hover {

    background-color: #0b001f;
    border: 1px solid rgb(20, 159, 240);
    transition: 0.4s;

}

.card a:active {

    background-color: rgb(20, 159, 240);

}

footer {

    background-color: #0b001f;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer h5 {

    color: #ffffff;
    font-size: 35px;
}

footer p {

    color: #ffffff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sociais {

    display: flex;
    gap: 20px;
}

.sociais img {

    height: 35px;
    border-radius: 50%;

}

.sociais a {

    background-color: #00468c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;

}

.sociais a:hover {

    background-color: #0b001f;
    border: 1px solid rgb(20, 159, 240);
    transform: scale(1.2);
    transition: 0.5s;
}

.sociais a:active {

    background-color: rgb(20, 159, 240);
}